{% extends 'base.html.twig' %}

{% block title %}New Cow{% endblock %}

{% block body %}
    <h1>Create new Cow</h1>

    {{ include('cow/_form.html.twig') }}

    <a href="{{ path('app_cow_index') }}">Lista de Bois</a>
{% endblock %}
